
        h1{
            font-size: 250%;
            text-align: center;
            color:#22223b
        }
        p{
            font-size: 150%;
            color:rgb(194, 181, 181);
            font-family: cursive;
        }
        p.centrado {
            text-align: center;
            
          }
        body{
            background-color: rgb(54, 72, 87);
            
        }
        /* Propiedades de un link sin tocar*/
       a:link{
            margin-top: 10px;
            font-size: 200%;
            text-decoration: none;
            padding: 15px 25px;
       }
       /* Propiedades de un link ya visitado*/
       a:visited{
            color: #995e6a;
            text-decoration: none;
       }
       /*Propiedades de un link cuando estamos encima*/
        a:hover{
            color: #b9abab;
        }
        /* Cuando mantemos apretado el click de un link*/
        a:active{
            color: #881f34;
        }

        
        table,th,td{
            color: rgba(255, 255, 255, 0.616);
            font-family: cursive;
            text-align: center;
            padding: 10px;
            border-collapse: collapse;
            border: 5px solid #6c757d;
            
        }
        table{
            margin: 10px 700px;
        }

        ul{
            font-family: cursive; 
            background-color: #22223b;
            list-style-type: none;
            overflow: hidden;
            display: block;
            padding: 10px; margin: 0%;
        }
        li{
            overflow: hidden;
            float: left;
    
        }

        li a {
            margin: 250px;
        }