

div{
    border: 10px solid #0a3950;
    background-color: #27566d;
    margin: 15px 100px;
    padding: 10px;
}
h1{
    text-align: center;
    font-family: cursive;
    font-size: 50px;
}
p{
    text-align: left;
    font-family: cursive;
    color: azure;
    margin: 10px;


}
body{
    background-color: #1d323f;
}
.pipe{
    color: rgb(173, 91, 91);
}
#Cerbero, #Aracne{
    padding: 10px 150px ;
    border: 10px 15px;
    background-color: rgb(94, 92, 91);
    text-align: center;

}